<!DOCTYPE html>
<html>

<head>
  <title>Barely Scraping By</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="/assets/style.css">


</head>

<body>


    {{{body}}}

</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src=""></script>
</body>

</html>