{{#each comments}}
    <div >
              <div class="comment-body">  
              <strong>{{this.author}}</strong>

              <p>{{this.body}}</p>
              </div>
              <div>
                <button>
                    delete
                </button>
              </div>
    </div>


{{/each}}